<head>
    <script>
        {% autoescape off %}
        var page_params = {{ page_params }};
        {% endautoescape %}

        ui_report = {};

        ui_report.hide_error = function () {
        };

    </script>
    {{ render_bundle('alt_app', attrs='nonce="%s"' % (csp_nonce)) }}
</head>
<body>
    {{ csrf_input }}
    <div id='alt_app'>
    </div>

    <div id='elm_app'>
    </div>

    <script>
        (function () {
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').attr('value');
            window.csrf_token = csrf_token;
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
            });

            server_events.initialize();

            elm_bridge.initialize();

        }());
    </script>
</body>
